body  {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.submit-form {
	border: 3px dashed black;
	margin: 0 auto;
	width: 70%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5rem;
	margin-bottom: 15px;
}

.submit-form #list-value {
	border: 2px dotted blue;
	border-radius: 10px;
	padding: 10px 6px 10px 6px;
	width: 50%;
	font-size: 1em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.submit-form #button {
	border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
    color: blue;
    height: 2em;
    width: 8em;
    font-size: 18px;
    text-transform: uppercase;
}

.submit-form #button:hover {
	background-color: blue;
    color: white;
}

.list-container {
	border: 3px dashed black;
	margin: 0 auto;
	width: 70%;
	text-align: center;
	margin-top: 15px;
}

.list-container ul {
	list-style-type: none;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: 0;
	padding-right: 0;
}

.list-container li {
	border: 2px dotted blue;
	border-radius: 10px;
	padding: 10px 6px 10px 6px; 
	margin: 6px 10px 6px 10px;
	word-wrap: break-word;
}

.list-container .remove-item {
	color: red;
	font-weight: bold;
}

.about-p {
	font-style: italic;
	text-align: center;
}

/* Responsive CSS Media Query for Mobile Devices */
@media only screen  
and (max-device-width : 375px) 
and (orientation : portrait) {

.submit-form {
	border: 3px dashed black;
	margin: 0 auto;
	width: 95%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 1rem;
	margin-bottom: 15px;
}

.list-container {
	border: 3px dashed black;
	margin: 0 auto;
	width: 95%;
	text-align: center;
	margin-top: 15px;
}
}






